@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.scrollBlock {
    height: 695px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    min-width: 100%;
}

.scrollBlock::-webkit-scrollbar {
    width: 3px;
    background: #FCFCFC;
    opacity: 0.7;
    border-radius: 2px;
}

.scrollBlock::-webkit-scrollbar-thumb {
    width: 3px;
    height: 15px;
    background: $bgColorDark;
    border-radius: 2px;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 65px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #EFEFEF;
    padding-left: 45px;
    @include text(16px, 19px, 500, normal);
    font-family: $fontFamily;
    border-radius: 10px;

}

.titleDark {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 65px;
    background: rgba(39, 39, 39, 0.7);
    border-bottom: 2px solid #EFEFEF;
    padding-left: 45px;
    @include text(16px, 19px, 500, normal);
    font-family: $fontFamily;
    border-radius: 10px;
}

.dehazeIcon {
    position: absolute;
    right: 260px;
    opacity: 0.2;
}

.dehazeIconDark {
    position: absolute;
    right: 260px;
    opacity: 0.2;
}

.removeIcon {
    position: absolute;
    left: 250px;
    opacity: 0.2;
}

