.scrollBlock {
    height: 695px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    min-width: 100%;
}

.scrollBlock::-webkit-scrollbar {
    width: 3px;
    background: #FCFCFC;
    opacity: 0.7;
    border-radius: 2px;
}

.scrollBlock::-webkit-scrollbar-thumb {
    width: 3px;
    height: 15px;
    background: rgba(42, 42, 42, 0.5);
    border-radius: 2px;
}


.title {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 65px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid #EFEFEF;
    padding-left: 45px;
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px;

}

.titleDark {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 65px;
    width: 100%;
    background: rgba(39, 39, 39, 0.7);
    border-bottom: 2px solid #EFEFEF;
    padding-left: 45px;
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px;

}

.dehazeIcon {
    position: absolute;
    right: 260px;
    opacity: 0.2;
}

.dehazeIconDark {
    position: absolute;
    right: 305px;
    opacity: 0.2;
}

.removeIcon {
    position: absolute;
    left: 250px;
    opacity: 0.2;
}

