.input {
    margin-top: 12px;
    height: 45px;
    width: 255px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(181, 181, 181, 0.85);
    background: #FFFFFF;
}

.inputDark {
    margin-top: 12px;
    height: 45px;
    width: 255px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: rgba(42, 42, 42, 0.7);
}

.labelNext {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.labelNextDark {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.labelPrev {
    position: absolute;
    bottom: 20px;
    right: 255px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}

.labelPrevDark {
    position: absolute;
    bottom: 20px;
    right: 245px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}